{% extends 'registration/front/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% include 'registration/front/preloader.html' %}
{% include 'registration/administrations/account/bank.html' %}
        <div class="culmn">
            <!--Home page style-->

            {% include 'registration/front/header.html' %}
            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features fix roomy-50">
                        </div>
                    </div>
                </div>
            </section>

            <section id="business" class="business bg-grey roomy-70">
                <div class="container">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>{{form.errors}}</strong>
                    </div>
                    <br>
                    {% endif %}
                    <form method="post" id="create-form" enctype="multipart/form-data" name="save-profile">
                    {% csrf_token %}
                    <div class="row">
                        <div class="main_business">
                            <div class="col-md-7">
                                <div class="panel panel-info" >
                                    <div class="panel-heading">
                                        <div class="panel-title text-center">
                                            Lengkapi Akun Bank Anda
                                        </div>
                                    </div>

                                    <div class="panel-body" >
                                        <div class="col-md-10">
                                            <div class="business_item sm-m-top-50">
                                                <div class="mb-3">
                                                    {{ form.Rekening.label_tag }}
                                                    {{ form.Rekening }}
                                                    <small id="profile_number" class="form-text text-muted">
                                                        {{ form.Rekening.help_text }}
                                                    </small>
                                                </div>
                                                </br>
                                                <div class="mb-3">
                                                    {{ form.Pemilik.label_tag }}
                                                    {{ form.Pemilik }}
                                                    <small id="profile_name" class="form-text text-muted">
                                                        {{ form.Pemilik.help_text }}
                                                    </small>
                                                </div>
                                                </br>
                                                <div class="mb-3">
                                                    <label for="Bank">Bank</label>
                                                    <select id="Bank" name="Bank" class="form-control" required>
                                                    </select>
                                                    <small id="profile_bank" class="form-text text-muted">
                                                        {{ form.Bank.help_text }}
                                                    </small>
                                                </div>
                                                </br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-center">
                                        <a href="{% url 'account:detail-account'%}" class="btn btn-info m-top-20">
                                            Batal
                                        </a>
                                        <button class="btn btn-primary m-top-20" name="save-profile" id="save-profile">
                                            Simpan
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </section>

            <section id="action" class="action bg-primary roomy-10">
                <div class="container">
                    <div class="row">
                        <div class="maine_action">
                            <div class="col-sm-12">
                                <div class="action_item text-center">
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'registration/front/footer.html' %}
        </div>
{% endblock %}