{% extends 'registration/front/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% include 'registration/front/preloader.html' %}
<div class="culmn">
    {% include 'registration/front/header.html' %}
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="main_features fix roomy-50">
                </div>
            </div><!-- End off row -->
        </div><!-- End off container -->
    </section><!-- End off Featured Section-->
    {% if not user.is_authenticated %}
        <section id="business" class="business bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_business">
                            <div class="col-md-6">
                                <div class="business_slid">
                                    <div class="business_items text-center">
                                        <div class="business_item">
                                            <div class="business_img">
                                                <img src="{% static 'assets/images/about-img1.jpg' %}" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="business_item sm-m-top-50">
                                    {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <strong>Username & Password Tidak Cocok</strong>
                                    </div>
                                    {% endif %}
                                    {% if messages %}
                                        <div class="alert alert-danger">
                                            {% for message in messages %}
                                                <strong>{{ message }}</strong>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <h2 class="text-uppercase">Login</h2>
                                    <h6 class="text-uppercase">Tingkatkan Terus Tabungan Anda</h6>
                                    <form method="post" id="login-form" name="login-form">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            {{ form.email.label_tag }}
                                            {{ form.email }}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.password.label_tag }}
                                            {{ form.password }}
                                        </div>
                                        <div class="business_btn">
                                            <a href="/" class="btn btn-default m-top-20">Batal</a>
                                            <button class="g-recaptcha btn btn-primary m-top-20"
                                                    data-sitekey="6LfDbU4UAAAAABq5xP0hQMcNWRrNah5JFbjnNziS"
                                                    data-callback="onSubmit">Login
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off Business section -->
    {% else %}
        <section id="businesslog" class="business bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_business">
                            <div class="col-md-6">
                                <div class="business_slid">
                                    <div class="business_items text-center">
                                        <div class="business_item">
                                            <div class="business_img">
                                                <img src="{% static 'assets/images/about-img1.jpg' %}" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="business_item sm-m-top-50 text-center">
                                    <h4 class="text-uppercase">Anda Sudah Login</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off Business section -->
    {% endif %}
    {% include 'registration/front/footer.html' %}
</div>
{% endblock %}