{% extends 'registration/front/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% include 'registration/front/preloader.html' %}
        <div class="culmn">
            <!--Home page style-->

            {% include 'registration/front/header.html' %}
            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features fix roomy-50">
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section>

            <section id="business" class="business bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_business">
                            <div class="col-md-12">
                                {% if messages %}
                                    <div class="alert alert-success">
                                        {% for message in messages %}
                                            <strong>{{ message }}</strong>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="main_business">
                            <div class="col-md-12">
                                <div class="panel panel-info" >
                                    <div class="panel-heading">
                                        <div class="panel-title text-center">
                                            Daftar Anggota / Calon Anggota
                                        </div>
                                    </div>

                                    <div class="panel-body" >
                                        <div>
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="text-center">
                                                    <label>Has Completed?</label>
                                                    <select id="completed" name="completed">
                                                        <option selected="selected" disabled>--Select--</option>
                                                        <option value="True">Yes</option>
                                                        <option value="False">No</option>
                                                    </select>
                                                    &nbsp;
                                                    <label>Has Bank Accounts?</label>
                                                    <select id="bank_accounts" name="completed">
                                                        <option selected="selected" disabled>--Select--</option>
                                                        <option value="True">Yes</option>
                                                        <option value="False">No</option>
                                                    </select>
                                                    &nbsp;
                                                    <label>Has Digital Doc?</label>
                                                    <select id="digital_doc" name="completed">
                                                        <option selected="selected" disabled>--Select--</option>
                                                        <option value="True">Yes</option>
                                                        <option value="False">No</option>
                                                    </select>
                                                    &nbsp;
                                                    <label>Cari Data</label>
                                                    <input type="text" id="search" name="search" placeholder="e-mail">
                                                     &nbsp;
                                                    <button class="btn-info">Filter</button>
                                                </div>
                                            </form>
                                        </div>
                                        <br>
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <td>Email</td>
                                                            <td>Fullname</td>
                                                            <td>Completed Profile</td>
                                                            <td>Completed Bank</td>
                                                            <td>Digital Sign</td>
                                                            <td>Verify email</td>
                                                            <td>Join Date</td>
                                                            <td>Status Keanggotaan</td>
                                                            <td>Last Login</td>
                                                            <td>Follow Up</td>
                                                            <td>Release</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                    {% for obj in data_list %}
                                                        <tr>
                                                            <td>{{obj.email}}</td>
                                                            <td>{{obj.first_name}}</td>
                                                            {% if obj.verify_status_user_related.member_verify_status_profile == True %}
                                                            <td class="text-center">Yes</td>
                                                            {% else %}
                                                            <td class="text-center" style="color: red">No</td>
                                                            {% endif %}
                                                            {% if obj.verify_status_user_related.member_verify_status_bank == True %}
                                                            <td class="text-center">Yes</td>
                                                            {% else %}
                                                            <td class="text-center" style="color: red">No</td>
                                                            {% endif %}
                                                            <td>Belum Aktif</td>
                                                            {% if obj.verify_status_user_related.member_verify_status_email == True %}
                                                            <td class="text-center">Yes</td>
                                                            {% else %}
                                                            <td class="text-center" style="color: red">No</td>
                                                            {% endif %}
                                                            <td>{{obj.date_joined}}</td>
                                                            <td>Belum Ada</td>
                                                            <td>{{obj.last_login}}</td>
                                                            <td class="text-center">
                                                                <a href="https://api.whatsapp.com/send?phone={{obj.accountprofile.account_profile_phone_number}}">
                                                                    Follow Up
                                                                </a>
                                                            </td>
                                                            <td class="text-center">
                                                                {% if not obj.is_active %}
                                                                <button href="#" id="release" name="release" value="{{obj.email}}" class="btn-xs btn-info">Release</button>
                                                                {% else %}
                                                                Active
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                        <tr>Tidak Ada Data</tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                        <div class="text-center">
                                              <ul class="pagination">
                                                {% if data_list.has_previous %}
                                                  <li><a href="?page={{ data_list.previous_page_number }}">&laquo;</a></li>
                                                {% else %}
                                                  <li class="disabled"><span>&laquo;</span></li>
                                                {% endif %}
                                                {% for i in data_list.paginator.page_range %}
                                                  {% if data_list.number == i %}
                                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                                  {% else %}
                                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                  {% endif %}
                                                {% endfor %}
                                                {% if data_list.has_next %}
                                                  <li><a href="?page={{ data_list.next_page_number }}">&raquo;</a></li>
                                                {% else %}
                                                  <li class="disabled"><span>&raquo;</span></li>
                                                {% endif %}
                                              </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="action" class="action bg-primary roomy-10">
                <div class="container">
                    <div class="row">
                        <div class="maine_action">
                            <div class="col-sm-12">
                                <div class="action_item text-center">
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'registration/front/footer.html' %}
        </div>
{% endblock %}