{% extends 'registration/front/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% include 'registration/front/preloader.html' %}
<div class="culmn">
    <!--Home page style-->

    {% include 'registration/front/header.html' %}
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="main_features fix roomy-50">
                </div>
            </div><!-- End off row -->
        </div><!-- End off container -->
    </section>

    <section id="business" class="business bg-grey roomy-70">
        <div class="container">
            <div class="row">
                <div class="main_business">
                    <div class="col-md-12">
                        <div class="panel panel-info" >
                            <div class="panel-heading">
                                <div class="panel-title text-center">Ganti Password</div>
                            </div>
                            <div class="panel-body" >
                                {% if form.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ form.errors }}</strong>
                                </div>
                                {% endif %}
                                <form method="post" id="login-form">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <div class="mb-3">
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                    {% endfor %}
                                    <div class="business_btn">
                                        <a href="{% url 'account:landing-page'%}"
                                           class="btn btn-secondary m-top-20">Batal</a>
                                        <button class="btn btn-primary m-top-20">Simpan
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="action" class="action bg-primary roomy-10">
        <div class="container">
            <div class="row">
                <div class="maine_action">
                    <div class="col-sm-12">
                        <div class="action_item text-center">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'registration/front/footer.html' %}
</div>
{% endblock %}