{% extends 'registration/front/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% include 'registration/front/preloader.html' %}
<div class="culmn">
    {% include 'registration/front/header.html' %}
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="main_features fix roomy-50">
                </div>
            </div><!-- End off row -->
        </div><!-- End off container -->
    </section><!-- End off Featured Section-->
    <section id="business" class="business bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_business">
                            <div class="col-md-6">
                                <div class="business_slid">
                                    <div class="business_items text-center">
                                        <div class="business_item">
                                            <div class="business_img">
                                                <img src="{% static 'assets/images/about-img1.jpg' %}" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="business_item sm-m-top-50">
                                    {% if messages %}
                                        <div class="alert alert-danger">
                                            {% for message in messages %}
                                                <strong>{{ message }}</strong>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <h4 class="text-uppercase"><a href="{% url 'account:reset-pass' %}">Kirim Ulang</a> /
                                        <a href="{% url 'account:login' %}">Login</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off Business section -->
    <section id="action" class="action bg-primary roomy-40">
                <div class="container">
                    <div class="row">
                        <div class="maine_action">
                            <div class="col-md-12">
                                <div class="action_item text-center">
                                    <h2 class="text-white text-uppercase">
                                        Investasi Sesuai Syariat hidup akan menjadi
                                        lebih tenang dan menyenangkan
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    {% include 'registration/front/footer.html' %}
</div>
{% endblock %}