{% extends 'registration/front/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% include 'registration/front/preloader.html' %}
    <div class="culmn">
            <!--Home page style-->

            {% include 'registration/front/header.html' %}
            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features fix roomy-50">
                        </div>
                    </div>
                </div>
            </section>

            <section id="business" class="business bg-grey roomy-70">
                <div class="container">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>{{form.errors}}</strong>
                    </div>
                    <br>
                    {% endif %}
                    {% if messages %}
                        <div class="alert alert-success">
                            {% for message in messages %}
                                <strong>{{ message }}</strong>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="post" id="create-form" name="create-form" enctype="multipart/form-data">
                    {% csrf_token %}
                        {% for obj in data_list %}
                        <div class="row">
                            <div class="main_business">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="panel panel-info" >
                                    <div class="panel-heading">
                                        <div class="panel-title text-center">
                                            Approval Transaksi
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="business_item sm-m-top-50">
                                                <div class="col-md-12">
                                                    <label>No. Transaksi</label>
                                                    <h3 class="text-right">{{obj.transaction_deposit_verified_transit_code}}</h3>
                                                </div>
                                                </br>
                                                <div class="col-md-12">
                                                    <label>Tipe Pembayaran</label>
                                                    <h3 class="text-right">{{obj.transaction_deposit_verified_status}}</h3>
                                                </div>
                                                </br>
                                                <div class="col-md-12">
                                                    <label>Jenis Transaksi</label>
                                                    <h3 class="text-right">
                                                        {% if obj.transaction_deposit_transit_type %}
                                                            {{obj.transaction_deposit_transit_type}}
                                                        {% else %}
                                                            {{obj.transaction_deposit_time_transit_type}}
                                                        {% endif %}
                                                    </h3>
                                                </div>
                                                </br>
                                                <div class="col-md-12">
                                                    <label>Grand Total</label>
                                                    <h3 class="text-right">
                                                        {% if obj.transaction_deposit_transit_gt_amount %}
                                                            Rp. {{obj.transaction_deposit_transit_gt_amount|floatformat:2|intcomma}}
                                                        {% else %}
                                                            Rp. {{obj.transaction_deposit_time_transit_amount|floatformat:2|intcomma}}
                                                        {% endif %}
                                                    </h3>
                                                </div>
                                                </br>
                                                <div class="col-md-12 text-left">
                                                    <label>Bukti Upload</label>
                                                </div>
                                                <div class="col-md-12 text-right">
                                                    {% if obj.transaction_deposit_verified_image_proof %}
                                                    <img width="400" height="250" src='data:image/jpg;base64,{{obj.transaction_deposit_verified_image_proof}}'>
                                                    {% else %}
                                                        <label style="color: red">Tidak Ada Upload Bukti Transfer</label>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12 text-center"><hr style="width: 100%; color: #0b0b0b"></div>
                                                <div class="col-md-12 text-center">
                                                    {{ form.Verifikasi.label_tag }}
                                                    {% for radio in form.Verifikasi %}
                                                        {{ radio }}
                                                    {% endfor %}
                                                    <br>
                                                    <small id="Verify" class="form-text text-muted">
                                                        {{ form.Verifikasi.help_text }}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-center">
                                        <a href="{% url 'transaction:all-transaction'%}" class="btn btn-info m-top-20">
                                            Batal
                                        </a>
                                        <button class="btn btn-primary m-top-20" name="save-profile" id="save-profile">
                                            Simpan
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </section>

            <section id="action" class="action bg-primary roomy-10">
                <div class="container">
                    <div class="row">
                        <div class="maine_action">
                            <div class="col-sm-12">
                                <div class="action_item text-center">
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% include 'registration/front/footer.html' %}
        </div>
{% endblock %}